.banner{
	min-height: 300px;
	display: flex;
	justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  box-sizing: border-box;
  padding: 2em 0;
  position: relative;

  &:before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    content: '';
    background-color: rgba(0,0,0,0.61);
  }

  &__container{
     @include container;
  }

  &__title{
    width: 90%;
    color: $white;
    text-align: center;
    margin: auto;
    @include fontSize(25px);
    @media (min-width: $desktop){
      @include fontSize(35px);
      width: 80%;
    }

  }
}