.paged{
	display: flex;
	justify-content: center;
	color: $black;
	margin: 2em 0;

	@media (min-width: $desktop){
		justify-content:flex-end;
		margin: 4em 0;
	}

	&__content{
		display: flex;
		align-items: center;
		justify-content:space-between;
		min-width: 150px;
	}

	&__icon{
		@include fontSize(21px);
		color: $black;
		text-decoration: none;
		margin: 0 1em;
	}

	&__page{
		color: $pink;
	}
}

.pagination{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 2em 0;
}

.button-paged{
  background-color: black;
  padding: 0.5em;
  border-radius: 0;
  border: none;
  color: white;
  text-decoration: none;
  margin: 0 0.4em;
}

.total-pages{
	margin: 0 0.5em;
}