<div class="popup-simple" id="popupNotification">
  <div class="popup-simple__content">
    <div class="popup-simple__message">
      <h2 class="popup-simple__title">¡Gracias por enviarnos su orden!</h2>
      <p class="popup-simple__text">Nuestro equipo en breve le estara enviando un correo electronico con la cotización.</p>
    </div>
    <button class="popup-simple__close closeNotification" title="Cerrar">
    	<img src="/static/img/close.svg" alt="Cerrar" class="popup-detail__close">
    </button>
  </div>
</div>