.loader-container{
	display: none;
}

.loader{
	@include display-flex;
	@include align-items(center);
	@include justify-content(center);

	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.2);

	&__dots{
		@include display-flex;
		@include justify-content(center);
		@include aspect-ratio(1,1);
		width: 50%;
		max-width: 70px;
		-webkit-animation: rotate 2.0s infinite linear;
		animation: rotate 2.0s infinite linear;
	}

	&__dot{
		@include aspect-ratio(1,1);
		@include border-radius(100%);
		position: absolute;
		width: 60%;
		
		&:first-child{
			background-color: $green-lemon;
			bottom: 0;
			-webkit-animation: bounce 2.0s infinite ease-in-out;
			animation: bounce 2.0s infinite ease-in-out;
		}
		&:last-child{
			background-color: $green;
			top: 0;
			-webkit-animation: bounce 2.0s infinite ease-in-out;
			animation: bounce 2.0s infinite ease-in-out;
			-webkit-animation-delay: -1.0s;
			animation-delay: -1.0s;
		}
	}

}
@keyframes bounce{
	0%, 100%{
		transform:scale(0);
		-webkit-transform:scale(0)
	}
	50%{
		transform:scale(1);
		-webkit-transform:scale(1)
	}
}

@-webkit-keyframes bounce{
	0%, 100%{
		transform:scale(0);
		-webkit-transform:scale(0)
	}
	50%{
		transform:scale(1);
		-webkit-transform:scale(1)
	}
}

@keyframes rotate {
	0%   {transform: rotate(0);}
	50%  {transform: rotate(180deg);}
	100% {transform: rotate(360deg);}
}

@-webkit-keyframes rotate {
	0%   {transform: rotate(0);}
	50%  {transform: rotate(180deg);}
	100% {transform: rotate(360deg);}
}