.pop-up{
	@include display-flex;
	@include justify-content(center);
	@include align-items(center);
	@include box-sizing(border-box);

	display: none;

	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);

	&.active {
		display: block;
		display: flex;
	}

	&__block{
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);
		width: 100%;
		max-width: 385px;
		background-color: $white;
		position: relative;
		padding: 2em;
		text-align: center;
		min-height: 200px;

		&--login{
			max-width: 450px;
		}
		&--login{
			max-width: 450px;
		}
	}
	&__close{
		@include display-flex;
		@include justify-content(flex-end);
		@include fontSize(25px);
		width: 100%;

		& i{
			cursor: pointer;
		}
	}
	&__flex{
		@include display-flex;
		@include align-items(center);
		@include justify-content(space-around);
		width: 100%;
		margin: 1em 0;
	}
	&__title{
		
		@include fontSize(30px);
		text-transform: uppercase;
		color: $green-support;

		&--error{
			color: #D53D36;
		}
	}
	&__text{
		
		text-align: center;
		line-height: 1.5em;
		margin: 2em 0;

		&--green{
			color: $green;
			
			&-support{
				color: $green-support;
			}
		}

		&--margin{
			margin: 0 1em;
		}
	}
	&__link{
		text-decoration: none;
		color: $green-support;
		cursor: pointer;
	}
} 