$white: #ffffff;
$black: #000000;
$blue-back: #243035;
$gray-light: #C4C4C4;
$gray-dark: #313131;
$gray-background: #F4F4F4;
$pink: #dc3b70;
$green: #BABF44;
$green-button: #37B2A4; 
$aqua: #37B2A4; 
