<!-- PAGINADOR -->
  <div class="pagination">
    <div>
      {% if page_obj.has_previous %}
        <a href="?page=1&q={{q}}" class="button-paged">1</a>
        <a href="?page={{ page_obj.previous_page_number }}&q={{q}}" class="button-paged">&#60;</a>
      {% endif %}
    </div>
    
    <div class="total-pages">
      {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </div>
    
    <div>
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}&q={{q}}" class="button-paged">&#62;</a>
      <a href="?page={{ page_obj.paginator.num_pages }}&q={{q}}" class="button-paged">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
    </div>
    
  </div>
<!-- /PGINADOR -->