.register{
	background-color: #f3f3f3; 
}

.register-center{
	text-align: center;
}

.register__container{
	width: 100%;
	padding: 2em;
}

.register__title{
	width: 80%;
	margin: 0 auto;
}

.register__form{
	width: 40%;
	margin: 4em auto;
}

.register__img{
	max-width: 100%;
    max-height: 100%;
    width: 15%;
}

.form-input{
	display: flex;
	flex-direction: column;
	margin: 0.5em;
}

.button-submit{
	text-decoration: none;
	color: white;
	border: none;
	margin: 0.3em 0;
	background-color: #1d941d;
	padding: 0.8em;
	width: 100%;
}