.content{
	background-color: #f3f3f3;
	padding: 1em;
	min-height: calc(100vh - 220px);

	@media (min-width: $desktop){
		padding: 2em;
	}

	&__info-results{
		display: flex;
		justify-content: space-between;
		border-bottom: 3px solid black;
		align-items: center;
		margin-top: 4em; 
	}

	&__title{
		margin-bottom: 0.3em; 
	}

	&__button{
		background: $black;
		color: $white;
		text-decoration: none;
		padding: 1em;
	}

	&__results{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 1em;

		& .owl-dots{
			bottom: -3em;
		}

		& .owl-dot {
			padding: 0.45em;
			&.active{
				background: $black;
			}
		}
	}
}