.popup-detail{
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);

	display: none;
}

.popup-detail__block{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	background-color: white;
	position: relative;
	padding: 2em;
	text-align: center;
	width: 100%;
	height: 100%;
	max-width: 60%;
	max-height: 80%;
	margin: 2em;
}

.popup-detail__head{
	width: 100%;
	text-align: right;
}

.popup-detail__close{
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.popup-detail__body{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.popup-detail__img{
	@include setImg();
	margin: auto;
}

.popup-detail__date{
	display: flex;
}

.popup-detail__info{
	width: 50%;
	text-align: left;
}

.popup-detail__button{
	width: 50%;
	display: flex;
	justify-content: flex-end;
    align-items: flex-end;
}