{% extends "base.html" %}

{% load static %}
{% block extra_head %}
  <title> Iniciar Sesión | Ensambles y Adornos </title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/banner.css' %}">

{% endblock %}

{% block content %}


  <div class="login">
    
    {% include "parts/banner.html" with title="Iniciar Sesión" %}

    <div class="login__container">
      {% if form.errors %}
          <p class="login__message-error">Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
        {% endif %}

        {% if next %}

          {% if user.is_authenticated %}
            <p class="login__message-error">Su cuenta no tiene acceso a esta página. Para proceder, por favor inicie sesión con una cuenta que tenga acceso.</p>
          {% else %}
            <p class="login__message-error">Por favor inicie sesión para ver esta página.</p>
          {% endif %}

        {% endif %}

        <form method="post" action="{% url 'login' %}" class="form-login">
        {% csrf_token %}
          <div class="form-input">
            {{ form.username.label_tag }}
            {{ form.username }}
          </div>
          <div class="form-input">
            {{ form.password.label_tag }}
            {{ form.password }}
          </div>
          <input class="button-submit" type="submit" value="Iniciar Sesión" />
          <input type="hidden" name="next" value="{{ next }}" />
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <div style="text-align: center;">
          {#<p><a class="login__link" href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>#}
          <a class="login__link" href="{% url 'register-customer' %}">¿No tienes cuenta?</a>
        </div>

    </div>
  </div>

{% endblock %}