{% extends "base.html" %}

{% load static %}
{% block extra_head %}
  <title> Iniciar Sesión | Ensambles y Adornos </title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/banner.css' %}">

{% endblock %}

{% block content %}
  <div class="login">
    <h1 class="login__logo">Iniciar Sesión</h1>
    <div class="login__container">

      <form method="post" action="{% url 'home' %}" class="login__form">
      {% if form.errors %}
        <p class="login__message-error">Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
      {% endif %}

      {% if next %}

        {% if user.is_authenticated %}
          <p class="login__message-error">Su cuenta no tiene acceso a esta página. Para proceder, por favor inicie sesión con una cuenta que tenga acceso.</p>
        {% else %}
          <p class="login__message-error">Por favor inicie sesión para ver esta página.</p>
        {% endif %}

      {% endif %}
      {% csrf_token %}
        <div class="form-input">
          {{ form.username.label_tag }}
          {{ form.username }}
        </div>
        <div class="form-input">
          {{ form.password.label_tag }}
          {{ form.password }}
        </div>
        <input class="login__button" type="submit" value="Acceder" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>

      <div>
        <!-- {#<p><a class="login__link" href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>#} -->
        <!-- <a class="login__link" href="{% url 'register-customer' %}">¿No tienes cuenta?</a> -->
      </div>

    </div>
  </div>

{% endblock %}