{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <title>Lista de Pedido | Ensambles y Adornos </title>
  <link rel="stylesheet" href="{% static 'css/order-list.css' %}">
{% endblock %}

{% block content %}
	<div>
		<div class="content-store">
			<h2>Lista de pedido</h2>
			<div class="note">Los productos estan sujetos a inventario.</div>
		</div>

		<form action="{% url 'cart' pk=pk %}" method="POST" class="content-store">
			{% csrf_token %}
			<div class="content-list">
				<div class="content-flex">
					<div class="item-flex">
						<h4>Cantidad</h4>
					</div>
					<div class="item-flex">
						<h4>Editar</h4>
					</div>
					<div class="item-flex">
						<h4>Codigo</h4>
					</div>
					<div class="item-flex-big">
						<h4>Descripción</h4>
					</div>
					<div class="item-flex">
						<h4>Eliminar</h4>
					</div>
				</div>
				{% for detail in cart.details.all %}
					<div class="content-flex"">
						<div class="item-flex">
							<p>{{ detail.quantity }}</p>
						</div>
						<div class="item-flex">
							<input type="number" name="{{ detail.pk }}-quantity" value="{{ detail.quantity }}">
						</div>
						<div class="item-flex">
							<p class="item">{{ detail.product }}</p>
						</div>
						<div class="item-flex-big">
							<p>{{ detail.product.description }}</p>
						</div>
						<div class="item-flex">
							<input type="checkbox" name="{{ detail.pk }}-delete">
						</div>
					</div>
				{% endfor %}
			</div>

			<div>
				<input class="button-act" type="submit" name="actualizar" value="Actualizar">
				<input class="button-submit" type="submit" name="orden" value="Enviar Orden">
			</div>	

		</form>
	</div>
{% endblock %}



