{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <title>Lista de Pedido | Ensambles y Adornos </title>
{% endblock %}


{% block content %}

<div style="
  background-color: #f3f3f3;
  padding: 2em;
  min-height: calc(100vh - 220px);
">
	<div>
		<h2>Lista de pedido</h2>
		<div style="background-color: #d9eaeaa8; padding: 1em; margin: 1em 0;">Los productos estan sujetos a inventario.</div>
	</div>

	<div style="display: flex;">
		<div>
			<form action="/">
			  <div style="margin: 1em 0;">
			  	<label for="name" style="font-size: 0.7em;">Nombre ó Razón Social:</label>
			    <input style="
                padding: 0.5em;
                border-radius: 0;
                border: none;
              " id="name" name="name" type="text" placeholder="Empresa S.A. de C.V." required>
			  </div>
			  <div style="margin: 1em 0;">
			  	<label for="phone" style="font-size: 0.7em;">Teléfono:</label>
			    <input style="
                padding: 0.5em;
                border-radius: 0;
                border: none;
              " id="phone" name="phone" type="tel" placeholder="Local ó Celular" required>
			  </div>
			  <div style="margin: 1em 0;">
			  	<label for="name" style="font-size: 0.7em;">Dirección:</label>
			    <input style="
                padding: 0.5em;
                border-radius: 0;
                border: none;
              " id="name" name="name" type="text" placeholder="Calle No. 10 Col. C.P." required>
			  </div>
			  <input style="text-decoration: none; color: white; border: none; margin: 0.3em 0; background-color: #1d941d; padding: 0.8em;" type="submit" value="Confirmar pedido">
			  <input style="text-decoration: none; color: white; border: none; margin: 0.3em 0; background-color: #e02d2d; padding: 0.8em;" type="button" value="Cancelar pedido">
			</form>
		</div>

		<div style="background-color: white; padding: 2em;">
			<div style="display: flex;">
				<div >
					<h4>Cantidad</h4>
				</div>
				<div >
					<h4>Codigo</h4>
				</div>
				<div >
					<h4>Descripción</h4>
				</div>
				
			</div>
			{% for product in products %}
			<div style="display: flex;">
				<div>
					<p>{{ product.quantity}}</p>
				</div>
				<div>
					<p>{{ product.code }}</p>
				</div>
				<div>
					<p>{{ product.descr}}</p>
				</div>
				
			</div>
			{% endfor %}
		</div>

	</div>
</div>


{% endblock %}

{% block extra_scripts %}
{% endblock %}
