.content-store{
  background-color: #f3f3f3;
  padding: 2em;
  min-height: calc(100vh - 220px);
}

.note{
	background-color: #d9eaeaa8;
	padding: 1em;
	margin: 1em 0;
}

.content-list{
	background-color: white;
	padding: 1em;
}

.content-flex{
	display: flex;
}

.item-flex{
	width: 100%;
}

.item-flex-big{
	width: 100%;
}

.quantity{
	font-weight: 600;
}

.item{
	padding: 0.5em;
}

.form-client{
	margin: 3em 0;
	padding-top: 3em;
	border-top: 2px solid #000;
}

.form-input{
	display: flex;
	flex-direction: column;
	margin: 0.5em;
}

label{
	font-weight: 500;
}

input{
	padding: 0.7em;
	margin-bottom: 0.5em;
	max-width: 400px;
	border: none;
}

@media (min-width: 1200px){
	.item-flex{
		width: 10%;
	}
	.item-flex-big{
		width: 80%;
	}
	.content-list{
		padding: 2em;
	}
}