.popup-login{
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url(/static/img/macrame.jpg);
	background-position: center;
	background-size: cover;
}

.popup-login__block{
	background-color: rgba(0,0,0,0.7);
	position: relative;
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-login__body{
	background-color: rgba(255,255,255,0.53);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
	width: 100%;
	height: 75%;
	max-width: 100%;
	max-height: 100%;
	margin: 2em;
}

.login__message-error{
	color: #d02a2a;
    font-weight: 700;
}

.login__link{
	border: 1px solid black;
    padding: 0.5em;
    color: black;
    font-weight: 700;
    text-decoration: none;
    margin: 1em 0;
    font-size: 13px;
}

.form-login{
	width: 100%;
	max-width: 300px;
}

.form-input{
	display: flex;
	flex-direction: column;
	margin: 0.5em;
}

input{
	padding: 0.7em;
	margin-bottom: 0.5em;
	width: 100%;
	max-width: 700px;
	border: none;
}

.button-submit{
	text-decoration: none;
	color: white;
	border: none;
	margin: 0.3em 0;
	background-color: #1d941d;
	padding: 0.8em;
}

@media (min-width: 768px){
	.popup-login__body{
		width: 50%;
		height: 50%;
	}
}

@media (min-width: 1200px){
	.popup-login__body{
		width: 40%;
		height: 50%;
	}
}


