.content{
	background-color: #f3f3f3;
	padding: 2em;
	min-height: calc(100vh - 220px);
}

h2{
	margin: 0 0 1em 0;
}

.results{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.info-results{
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid black;
	align-items: center;
	margin-top: 4em; 
}

.title-info-results{
	margin-bottom: 0.3em; 
}

.card {
	max-width: 200px;
  background-color: white;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.image{
	width: 100%;
}

.image-no-found{
	width: 100%;
  background-color: #d9eaeaa8;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order{
	text-decoration: none;
	color: white;
	background-color: #1d941d;
	padding: 0.5em;
}