{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <meta name="description" content="Ensambles Y Adornos Mexico. Nuestros productos nuevos.">
  <meta name="keywords" content="Fabricantes adornos, accesorios textiles, bisuteria, joyeria, bolsas, cajas y adornos del hogar.">
  <title>Lo nuevo | Ensambles y Adornos </title>
  <link rel="stylesheet" href="{% static 'css/product-list.css' %}">
  <link rel="stylesheet" href="{% static 'css/paged.css' %}">
{% endblock %}


{% block content %}

{% get_media_prefix as MEDIA_PREFIX %}

<div class="content">
  
  <div class="content__info-results">
    <h2 class="content__title">Nuevos</h2><a class="content__button" href="{% url 'products-index' %}">Volver</a>
  </div>
  <div class="content__results">
    {% if object_list %}
      {% for item in object_list %}
        {% include "products/parts/card_product.html"%}
      {% endfor %}

      <!-- Paginador -->
      {% include "products/parts/paged.html" %}
      <!-- /Paginador -->
    {% else %}
      <h3>No se encontraron resultados</h3>
    {% endif %}
  </div>

</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}