{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <meta name="description" content="Ensambles Y Adornos Mexico. Nuestros productos nuevos.">
  <meta name="keywords" content="Fabricantes adornos, accesorios textiles, bisuteria, joyeria, bolsas, cajas y adornos del hogar.">
  <title>Lo nuevo | Ensambles y Adornos </title>
  <link rel="stylesheet" href="{% static 'css/product-list.css' %}">
  <link rel="stylesheet" href="{% static 'css/paged.css' %}">
{% endblock %}


{% block content %}

{% get_media_prefix as MEDIA_PREFIX %}

<div class="content">
  
  <div class="info-results">
    <h2 class="title-info-results">Productos nuevos</h2><a class="button-paged" href="{% url 'products-index' %}">Volver</a>
  </div>

  <div class="results">
  	
    {% for item in object_list %}
      {% include "products/parts/card_product.html" %}
    {% empty %}
      <h3>No se encontraron resultados</h3>
    {% endfor %}
    
  </div>

  <!-- PAGINADOR -->

  <div class="pagination">
    <div>
      {% if page_obj.has_previous %}
        <a href="?page=1&q={{q}}" class="button-paged">1</a>
        <a href="?page={{ page_obj.previous_page_number }}&q={{q}}" class="button-paged">&#60;</a>
      {% endif %}
    </div>
    
    <div class="total-pages">
      {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </div>
    
    <div>
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}&q={{q}}" class="button-paged">&#62;</a>
      <a href="?page={{ page_obj.paginator.num_pages }}&q={{q}}" class="button-paged">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
    </div>
    
  </div>

  <!-- /PGINADORS -->

</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}