{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <meta name="description" content="Ensambles Y Adornos Mexico. Somos una compañía que comprende y entiende bien las necesidades del mundo de la moda.">
  <meta name="keywords" content="Fabricantes adornos, accesorios textiles, bisuteria, joyeria, bolsas, cajas y adornos del hogar.">

  <title>Productos | Ensambles y Adornos</title>
  
  <link rel="stylesheet" href="{% static 'css/product-list.css' %}">
  <link rel="stylesheet" href="{% static 'css/paged.css' %}">
  <link rel="stylesheet" href="{% static 'css/banner.css' %}">
  <link rel="stylesheet" href="{% static 'css/popup-detail.css' %}">
  <link rel="stylesheet" href="{% static 'css/card.css' %}">

{% endblock %}


{% block content %}

{% get_media_prefix as MEDIA_PREFIX %}
{% include "image-banner.html" with title="Somos una compañía que comprende y entiende bien las necesidades del mundo de la moda." %}

<div class="content">
  
  <!-- NUEVOS -->
  <div class="info-results">
    <h2 class="title-info-results">Nuevos</h2><a class="button-paged" href="{% url 'products-index-news' %}">Ver todo</a>
  </div>
  <div class="results">
   
    {% for item in news %}
      {% include "products/parts/card_product.html"%}
    {% empty %}
      <h3>No se encontraron resultados</h3>
    {% endfor %}
  
  </div>

  <!-- /NUEVOS -->

  <!-- MAS VENDIDOS -->
  <div class="info-results">
    <h2 class="title-info-results">Más vendidos</h2><a class="button-paged" href="{% url 'products-index-best-seller' %}">Ver todo</a>
  </div>
  <div class="results">

    {% for item in best_seller %}
      {% include "products/parts/card_product.html"%}
    {% empty %}
      <h3>No se encontraron resultados</h3>
    {% endfor %}

  </div>

  <!-- /MAS VENDIDOS -->

  <!-- TODOS LOS PRODUCTOS -->

  <div class="info-results">
    <h2 class="title-info-results">Todos los productos</h2>
  </div>
  <div class="results">
  
    {% for item in object_list %}
      {% include "products/parts/card_product.html"%}
    {% empty %}
      <h3>No se encontraron resultados</h3>
    {% endfor %}

  </div>

  <!-- /TODOS LOS PRODUCTOS -->

  <!-- PAGINADOR -->

  <div class="pagination">
    <div>
      {% if page_obj.has_previous %}
        <a href="?page=1&q={{q}}" class="button-paged">1</a>
        <a href="?page={{ page_obj.previous_page_number }}&q={{q}}" class="button-paged">&#60;</a>
      {% endif %}
    </div>
    
    <div class="total-pages">
      {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </div>
    
    <div>
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}&q={{q}}" class="button-paged">&#62;</a>
      <a href="?page={{ page_obj.paginator.num_pages }}&q={{q}}" class="button-paged">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
    </div>
    
  </div>
  {% include "products/parts/popup_detail.html" %}
  <!-- /PGINADORS -->

</div>
{% endblock %}

{% block extra_scripts %}
  <script type="text/javascript" src="/static/js/productDetail.js"></script>
{% endblock %}
