{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <title>Productos | Ensambles y Adornos </title>
{% endblock %}


{% block content %}

<div style="
  background-color: #f3f3f3;
  padding: 2em;
">

  <h2 style="margin: 0 0 1em 0">Lista de productos</h2>
  <p style="margin: 0">Por favor seleccione los prodcutos que desea solicitar.</p>
  <ul style="
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  ">
  	{% get_media_prefix as MEDIA_PREFIX %}
    {% for product in object_list %}
      <div style="
        max-width: 200px;
        background-color: white;
        padding: 1em;
        margin: 1em;
      ">
      	<img src="{{MEDIA_PREFIX}}{{product.image}}" alt="No hay imagen del producto {{ product.code_eyamex }}" title="{{ product.code_eyamex }}" style="width: 100%" />
      	<h4>{{ product.code_eyamex }}</h4>
      	<p>{{ product.description }}</p>
        <button
          style="
            background-color: #1d941d;
            padding: 0.5em;
            border-radius: 0;
            border: none;
            color: white;
            font-weight: 600;
          "  
        >Pedir</button>
      </div>
    {% empty %}
      <li>Sin productos</li>
    {% endfor %}
  </ul>

  <div class="pagination" style="width: 100%; display: flex; justify-content: center;">
    <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1"
            style="
              background-color: black;
              padding: 0.5em;
              border-radius: 0;
              border: none;
              color: white;
              text-decoration: none;
            ">&laquo; Pag. 1</a>
          <a href="?page={{ page_obj.previous_page_number }}"
            style="
              background-color: black;
              padding: 0.5em;
              border-radius: 0;
              border: none;
              color: white;
              text-decoration: none;
            ">Anterior</a>
      {% endif %}

      <span class="current">
        {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}"
            style="
              background-color: black;
              padding: 0.5em;
              border-radius: 0;
              border: none;
              color: white;
              text-decoration: none;
            "
          >Siguientes</a>
          <a href="?page={{ page_obj.paginator.num_pages }}"
            style="
              background-color: black;
              padding: 0.5em;
              border-radius: 0;
              border: none;
              color: white;
              text-decoration: none;
            "
          >Ultimo &raquo;</a>
      {% endif %}
    </span>
  </div>

</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
