{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <meta name="description" content="Ensambles Y Adornos Mexico. Somos una compañía que entiende bien las necesidades del mundo de la moda.">
  <meta name="keywords" content="Fabricantes adornos, accesorios textiles, bisuteria, joyeria, bolsas, cajas y adornos del hogar.">

  <title>Productos | Ensambles y Adornos</title>

  
{% endblock %}


{% block content %}

{% get_media_prefix as MEDIA_PREFIX %}
{% include "parts/banner.html" with title="Somos una compañía que entiende bien las necesidades del mundo de la moda." %}

<div class="content">
  
  <!-- NUEVOS -->
  <div class="content__info-results">
    <h2 class="content__title">Nuevo</h2>
    <a class="content__button" href="{% url 'products-index-news' %}">Ver todo</a>
  </div>
  <div class="content__results">
    <div class="productsCarousel owl-carousel">
      {% for item in news %}
        {% include "products/parts/card_product.html"%}
      {% empty %}
        <h3>No se encontraron resultados</h3>
      {% endfor %}
    </div>
  </div>

  <!-- /NUEVOS -->

  <!-- MAS VENDIDOS -->
  <div class="content__info-results">
    <h2 class="content__title">Más vendidos</h2>
    <a class="content__button" href="{% url 'products-index-best-seller' %}">Ver todo</a>
  </div>
  <div class="content__results">
    <div class="productsCarousel owl-carousel">
      {% for item in best_seller %}
          {% include "products/parts/card_product.html" %}
      {% empty %}
        <h3>No se encontraron resultados</h3>
      {% endfor %}
    </div>
  </div>

  <!-- /MAS VENDIDOS -->

  <!-- TODOS LOS PRODUCTOS -->

  <div class="content__info-results">
    <h2 class="content__title">Todos los productos</h2>
  </div>
  <div class="content__results">
    {% if object_list %}
      {% for item in object_list %}
        {% include "products/parts/card_product.html"%}
      {% endfor %}
    {% endif %}
  </div>

  <!-- /TODOS LOS PRODUCTOS -->

  <!-- Paginador -->
  {% include "products/parts/paged.html" %}
  <!-- /Paginador -->
 
</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}