.footer{
	background: $black;
	color: $white;
	padding: 1em 0;

	&__container{
		@include container();
	}

	&__row{
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&.center{
			justify-content: center;
		}

		@media (min-width: $desktop){
			flex-direction: row;
		}
	}

	&__link{
		text-decoration: none;
		color: $white;
	}
}

