.header{
	background-color: black;
	color: white;
	padding: 1em 3em;
	display: flex;
	justify-content: space-around;
	align-items: center;

	@media (min-width: $desktop){
		justify-content: space-between;
		align-items: center;
	}

	&__link{
		color: white;
		text-decoration: none;
	}

	&__logo{
		display: none;
		@media (min-width: $tablet-min){
			max-width: 100px;
			display: block;
		}
	}

	&__form-search{
		display: flex;
		width: 100%;
		display: flex;
	    justify-content: center;
	}

	&__search{
		padding: 1em;
		border-radius: 0;
		border: none;
		width: 100%;
	    max-width: 400px;
	    margin-bottom: 0;

	    @media (min-width: 1200px){
			width: 350px;
		}
	}

	&__icon-car{
		width: 25px;	
	}

	&__button-car{
		position: relative;
	}

	&__carrito{
		position: absolute;
		color: $white;
		background: red;
		border-radius: 100%;
	    padding: 0.3em 0.4em;
	    top: -1em;
	    right: -1em;
	    margin: 0;
	    opacity: 0;
	    transition: all 0.25s;

	    &.see{
	    	opacity: 1;
	    }
	}
}


.header__top{
	background-color: #4e4545;
	color: white;
	display: flex;
    justify-content: space-between;
    padding: 0.5em 4em;;
    font-size: 0.85em;

    &__link{
		color: white;
		margin: 0 0.3em;
		text-decoration: none;
	}
}

.search-customer{
	position: relative;
	cursor: pointer;
	min-width: 200px;

	&__label-name{
		cursor: pointer;
		font-size: 14px;
		transition: all .2s;
		&:hover{
			text-decoration: underline;
		}
	}

	&__container-results{
		font-size: 12px;
		color: black;
		background: white;
		padding: 0.2em 0.5em;
		z-index: 1;
		position: absolute;
	}

	&__input{
		box-sizing: border-box;
		font-size: 14px;
		border-radius: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 100%;
		max-width: 250px;
		height: 40px;
		border: 1px solid #c9c9c9;
		color: black;
		padding: 0.5em 1em;
		outline-color: none;
		background-color: white;
		background-size: 15px;
		margin-bottom: 0;
		transition: all .2s;
		/*opacity: 0;*/
		display: none;
		
		&.open{
			/*opacity: 1;*/
			display: block;
		}
	}

	& .link_results{
		margin: 0;
		padding: 1em;
		&:hover{
			background: #d8d0d0;
		}
	}
}

