.header{
	background-color: black;
	color: white;
	padding: 1em 3em;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo {
	display: none;
}

.form-search{
	display: flex;
	width: 100%;
	display: flex;
    justify-content: center;
}

.search{
	padding: 1em;
	border-radius: 0;
	border: none;
	width: 100%;
    max-width: 400px;
    margin-bottom: 0;
}

.icon-car{
	width: 25px;	
}

.header__top{
	background-color: #4e4545;
	color: white;
	display: flex;
    justify-content: space-between;
    padding: 0.5em 4em;;
    font-size: 0.85em;
}

.header__top__link{
	color: white;
	margin: 0 0.3em;
	text-decoration: none;
}


.search-customer{
	position: relative;
	cursor: pointer;
	min-width: 200px;

	&__label-name{
		cursor: pointer;
		font-size: 14px;
		transition: all .2s;
		&:hover{
			text-decoration: underline;
		}
	}

	&__container-results{
		font-size: 12px;
		color: black;
		background: white;
		padding: 0.2em 0.5em;
		z-index: 1;
		position: absolute;
	}

	&__input{
		box-sizing: border-box;
		font-size: 14px;
		border-radius: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 100%;
		max-width: 250px;
		height: 40px;
		border: 1px solid #c9c9c9;
		color: black;
		padding: 0.5em 1em;
		outline-color: none;
		background-color: white;
		background-size: 15px;
		margin-bottom: 0;
		transition: all .2s;
		/*opacity: 0;*/
		display: none;
		
		&.open{
			/*opacity: 1;*/
			display: block;
		}
	}
}

@media (min-width: 1200px){
	.header{
		justify-content: space-between;
		align-items: center;
	}
	.logo {
		max-width: 100px;
		display: block;
	}
	.search{
		width: 400px;
	}
}