{% if slider %}
  <!-- fold -->
    <section class="home__fold">
      <!-- mainSlider -->
      <ul class="main-slider mainSlider owl-carousel">
        {% for item in slider %}
        <!-- slide -->
          <li class="main-slider__item" {% if item.image_background %}style="background-image:url({{item.image_background}});"{% endif %}>
            <div class="main-slider__container">
              <picture class="main-slider__img">
                <source srcset="{{item.image_mobile}}" media="(max-width: 768px)">
                <source srcset="{{item.image}}">
                <img srcset="{{item.image}}" alt="{{item.title}}">
              </picture>
            </div>
          </li>
        <!-- /slide -->
        {% endfor %}
      </ul>
      <!-- /mainSlider -->
    </section>
  <!-- /fold -->
{% endif %}