{% load render_bundle from webpack_loader %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Facebook / whatsapp Open Graph meta tags -->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Productos | Ensambles y Adornos"/>
    <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/static/img/LOGO-EYA.png"/>
    <meta property="og:url" content="http://{{ request.META.HTTP_HOST }}/"/>
    <meta property="og:description" content="Ensambles y Adornos, la Casa de México para las Artes y las Manualidades,"/>
    <meta property="og:site_name" content="Ensambles y Adornos"/>

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Productos | Ensambles y Adornos"/>
    <meta name="twitter:image" content="http://{{ request.META.HTTP_HOST }}/static/img/LOGO-EYA.png"/>
    <meta name="twitter:site" content="http://{{ request.META.HTTP_HOST }}/"/>
    <meta name="twitter:description" content="Ensambles y Adornos, la Casa de México para las Artes y las Manualidades,"/>
    <meta name="twitter:creator" content="@ensamblesadornos"/>

    <link rel="canonical" href="http://{{ request.META.HTTP_HOST }}/">

    {% block extra_head %}
    {% endblock %}
    
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/LOGO-EYA.png"/>
  </head>

  {% render_bundle 'main' 'css' %}

  <!-- body -->
  <body class="main">

    <main>
        {% include "header_top.html" %}
        {% include "header.html" %}
        {% block content %}{% endblock %}
        {% include "footer.html" %}
    </main>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,200i,300,300i,400,500,500i,800,800i" rel="stylesheet">
    <!-- /fonts -->

    <!-- Load base scripts (for all pages)-->      
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- /Load base scripts (for all pages) -->

    {% render_bundle 'main' 'js' %}

    {% block extra_scripts %}{% endblock %}
    {% if user.seller %}
        <script type="text/javascript">

          function setDomain(idCustomer) {
            var linkCarrito = $("#linkCarrito").data("domain");
            linkCarrito += 'carrito/' + idCustomer;
            $("#linkCarrito").attr('href', linkCarrito);
          };

          $(document).ready(function() {
            var idCustomer = $("#selectCustomer").val();
            $(".formCart").val(idCustomer);
            setDomain(idCustomer);

            $("#selectCustomer").change(function() {
              var idCustomer = $(this).val();
              $(".formCart").val(idCustomer);
              setDomain(idCustomer);

              $.ajax({
                url: "{% url 'customer-selected' %}",
                data: {
                  'cart_id': idCustomer
                },
                dataType: 'json',
                success: function (data) {
                  console.log('Seteo el carrito ' + data.cart_id);
                }
              });

            });

            $('#search-customer').keyup(function() {     
              var name = $(this).val()
              var customers = []
              var customer_element = $('.results');
              customer_element.html('')
              htmlResults = ''

               if (name.length > 2) {
                    $.ajax({
                        url: "{% url 'customer-search' %}",
                        data: {
                          'q': name
                        },
                        dataType: 'json',
                        success: function (data) {
                          console.log('Resultados ' + data);
                          customers = data.customers
                          console.log( 'customers' + customers)

                          customers.map(function(customer, index) {
                            console.log(customer.name)
                            htmlResults += '<p class="link_results"data-id="'+customer.id+'">' + customer.name + '</p>' 
                          });
                          customer_element.html(htmlResults)
                        }
                    });
                }
            });

          });
        </script>
    {% endif %}

  </body>
  <!-- /body -->
</html>
