<!-- footer -->
  <footer class="footer">
    <div class="footer__container">
      <div class="footer__row">
        <h4>Ensambles y Adornos México</h4>
        <p>Tels: <a href="tel:52555813" class="footer__link">52555813</a> / <a href="tel:52509046" class="footer__link">52509046</a></p>
      </div>
      <div class="footer__row center">
        <a href="/static/docs/aviso-de-privacidad.pdf" target="_blank" class="footer__link">
          Aviso de Privacidad
        </a>
      </div>
    </div>
  </footer>
<!-- /footer -->