<!-- header -->
  <header class="header">
    <a href="{% url 'products-index' %}" title="Ensambles y Adornos" target="_self" style="color: white; text-decoration: none;">
      <img class="logo" src="/static/img/LOGO-EYA.png" alt="Ensambles y Adornos Logo"/>
    </a>

    {% if seccion == 'list-order' %}
      <a href="/product/index/" class="button-white">
        < Productos
      </a>
    {% else %}

      <form action="{% url 'products-index-results' %}" method="get" class="form-search">
        <input class="search" type="text" placeholder="¿Qué estás buscando?" name="q">
        <button type="submit" class="button-green">
          Buscar
        </button>
      </form>
      {% if user.is_authenticated  %}
        {% if user.is_superuser %}
        {% else %}
          {% if user.customer %}
            <a href="{% url 'cart' pk=user.customer.cart.pk %}" class="button-white" title="Carrito">
              <img class="icon-car" src="/static/img/cart-arrow-down.svg" alt="Ir a carrito"/>
            </a>
          {% endif %}
          {% if user.seller %}
            <input id="search-customer" type="" name="customer"/>
            <select id="selectCustomer" class="select" name="customer">
              {% for customer in customers %}
                <option value="{{ customer.cart.pk }}"{% if customer.cart.pk == request.session.cart_selected %} selected="selected"{% endif %}>{{ customer.name }}</option>
              {% endfor %}
            </select>
            <a id="linkCarrito" data-domain="{{ domain }}" class="button-white" title="Carrito">
              <img class="icon-car" src="/static/img/cart-arrow-down.svg" alt="Ir a carrito"/>
            </a>
          {% endif %}
        {% endif %}
      {% else %}
        <a href="{% url 'login' %}" class="button-white" title="Ir a order de compra">
          <img class="icon-car" src="/static/img/cart-arrow-down.svg" alt="Ir a order de compra"/>
        </a>
      {% endif%}
    {% endif %}
  </header>
<!-- /header -->
