<div class="header__top">
	{% if user.is_authenticated %}
		{% if user.is_superuser %}
			<p class="header__top__link" href="/">Bienvenido {{ user.username }}</p>
			<div>
				<a class="header__top__link" href="{% url 'logout' %}">Cerrar Sesión</a>
			</div>
		{% else %}
			{% if user.customer %}
				<p class="header__top__link" href="{% url 'customer-profile' pk=user.customer.pk %}">Bienvenido {{ user.customer.name }}</p>
				<div>
					<a class="header__top__link" href="{% url 'customer-profile' pk=user.customer.pk %}">Mi perfil</a>
					|
					<a class="header__top__link" href="{% url 'logout' %}">Cerrar Sesión</a>
				</div>
			{% endif %}
			{% if user.seller %}
				<p class="header__top__link" href="{% url 'seller-profile' pk=user.seller.pk %}">Bienvenido {{ user.seller.name }}</p>
				<div>
					<a class="header__top__link" href="{% url 'seller-profile' pk=user.seller.pk %}">Mi perfil</a>
					|
					<a class="header__top__link" href="{% url 'logout' %}">Cerrar Sesión</a>
				</div>
			{% endif %}
		{% endif %}
    {% else %}
	    <p class="header__top__link" href="/">Ensambles y Adornos México</p>
		<div>
			<!-- <a class="header__top__link" href="{% url 'register-customer' %}">Registrate</a>
			| -->
			 <a class="header__top__link" href="{% url 'home' %}">Iniciar Sesión</a>
		</div>
    {% endif %}
</div>