{% load static %}
<!-- detalle promo -->
<div class="popup-login" id="popupLogin">
  <div class="popup-login__block">
 
    <div class="popup-login__body">

      {% if form.errors %}
        <p class="login__message-error">Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
      {% endif %}

      {% if next %}

        {% if user.is_authenticated %}
          <p class="login__message-error">Su cuenta no tiene acceso a esta página. Para proceder, por favor inicie sesión con una cuenta que tenga acceso.</p>
        {% else %}
          <p class="login__message-error">Por favor inicie sesión para ver esta página.</p>
        {% endif %}

      {% endif %}

      <form method="post" action="{% url 'login' %}" class="form-login">
      {% csrf_token %}
        <div class="form-input">
          {{ form.username.label_tag }}
          {{ form.username }}
        </div>
        <div class="form-input">
          {{ form.password.label_tag }}
          {{ form.password }}
        </div>
        <input class="button-submit" type="submit" value="Iniciar Sesión" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>

    </div>

  </div>
</div>
<!-- /detalle promo -->