{% extends "base.html" %}

{% load static %}
{% block extra_head %}
  <title> Perfil | Ensambles y Adornos </title>
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
	<div class="profile">
		<div class="profile__container">
			<div class="profile__flex">
				<div>
					<div class="profile__avatar">
						<img class="profile__img" src="/static/img/avatar.png" alt="{{object.name}}">
					</div>
					<hr />
					<div class="profile__date">
						<h5>Nombre: <span>{{ object.name }}</span></h5>
						<h5>Dirección: <span>{{ object.address }}</span></h5>
						<h5>Correo: <span>{{ object.user.email }} </span></h5>
						<h5>RFC: <span>{{ object.rfc }}</span></h5>
						<h5>Teléfono: <span>{{ object.phone }}</span></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
  <script type="text/javascript" src="/static/js/toggle.js"></script>
{% endblock %}